
:root {
  --primary-color: #6b46c1;
  --secondary-color: #f9f9f9;
  --shadow-color: #bbb1c0;
  --text-color:#2D3748;
}

.ml-2 {
  margin-left: 2rem;
}
.p1 {
  padding: 0 1rem;
}

.btn {
  border: none !important;
}
.form {
  border: none !important;
  padding: 0;
}
.logo {
  color: var(--primary-color);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
  position: sticky;
  top: 0rem;
}

.m3{
  margin:3rem;
}

.m2{
  margin: 2rem;
}

.mr-2{
  margin-right: 2rem;
}

.p5{
  padding:5rem
}